##  \begin{align} \underline{\textbf{Python Pandas}} \end{align} 
* Pandas es una biblioteca de python destinada al análisis de datos, que proporciona unas estructuras de datos flexibles.

Ofrece una gran variedad de funciones para manipular datos de tipo tabular y otros con csv, json y xls

In [1]:
import pandas as pd
from pandas import Series, DataFrame

### Lectura de datos csv, json, xls

Uno de los formatos más utilizados en la actualidad para intercambio de datos es CSV (“Comma Separated Values”). 

Este es archivo de texto en los que cada línea contiene una fila de datos con múltiples registros delimitados por un separador. 

En general el separador suele ser la coma, de ahí el nombre del formato. 

Aunque también se pueden utilizan otros caracteres que no suelen estar contenidos en los datos. Por ejemplo, espacios, tabuladores y puntos y coma.

In [2]:
!ls -l Fuentes_curso

total 56136
-rw-rw-r-- 1 saxsa saxsa 11947896 feb 28 14:57 crime-lat-long.csv
-rw-rw-r-- 1 saxsa saxsa    37376 feb 28 14:57 lineasmetro.xls
-rw-r--r-- 1 saxsa saxsa 45492918 feb 28 14:57 tweets.json

In [3]:
!head -2 Fuentes_curso/crime-lat-long.csv

"cuadrante","crime","date","hour","year","month","lat","long"
"N-1.1.18","VIOLACION",2013-01-01,"10:07",2013,1,19.5440795241155,-99.1247208081161

### Lectura de CSV

In [4]:
df1 = pd.read_csv('Fuentes_curso/crime-lat-long.csv') 
df1.head(10)

,cuadrante,crime,date,hour,year,month,lat,long
0,N-1.1.18,VIOLACION,2013-01-01,10:07,2013,1,19.544080,-99.124721
1,O-3.1.3,ROBO A NEGOCIO C.V.,2013-01-01,18:36,2013,1,19.188359,-99.074483
2,P-1.2.7,ROBO DE VEHICULO AUTOMOTOR S.V.,2013-01-01,01:31,2013,1,19.380817,-99.199885
3,P-1.2.9,ROBO A TRANSEUNTE C.V.,2013-01-01,14:54,2013,1,19.369505,-99.199835
4,P-1.2.2,ROBO DE VEHICULO AUTOMOTOR S.V.,2013-01-01,18:31,2013,1,19.393359,-99.199451
5,P-1.5.2,LESIONES POR ARMA DE FUEGO,2013-01-01,20:03,2013,1,19.387115,-99.221778
6,P-2.3.2,ROBO A TRANSEUNTE C.V.,2013-01-01,20:35,2013,1,19.506817,-99.201055
7,P-2.3.7,ROBO A TRANSEUNTE C.V.,2013-01-01,23:11,2013,1,19.499860,-99.191175
8,P-2.1.6,ROBO A TRANSEUNTE C.V.,2013-01-01,10:11,2013,1,19.468026,-99.184176
9,S-1.5.2,LESIONES POR ARMA DE FUEGO,2013-01-01,07:41,2013,1,NaN,NaN

In [5]:
type(df1)

pandas.core.frame.DataFrame

In [6]:
df1.columns

Index(['cuadrante', 'crime', 'date', 'hour', 'year', 'month', 'lat', 'long'], dtype='object')

In [7]:
df1.iloc[1]

cuadrante                O-3.1.3
crime        ROBO A NEGOCIO C.V.
date                  2013-01-01
hour                       18:36
year                        2013
month                          1
lat                      19.1884
long                    -99.0745
Name: 1, dtype: object

### Lectura "saltando algunas lineas"

In [8]:
df2 = pd.read_csv('Fuentes_curso/crime-lat-long.csv', skiprows=[1, 2, 3])
df2.head(10)

,cuadrante,crime,date,hour,year,month,lat,long
0,P-1.2.9,ROBO A TRANSEUNTE C.V.,2013-01-01,14:54,2013,1,19.369505,-99.199835
1,P-1.2.2,ROBO DE VEHICULO AUTOMOTOR S.V.,2013-01-01,18:31,2013,1,19.393359,-99.199451
2,P-1.5.2,LESIONES POR ARMA DE FUEGO,2013-01-01,20:03,2013,1,19.387115,-99.221778
3,P-2.3.2,ROBO A TRANSEUNTE C.V.,2013-01-01,20:35,2013,1,19.506817,-99.201055
4,P-2.3.7,ROBO A TRANSEUNTE C.V.,2013-01-01,23:11,2013,1,19.499860,-99.191175
5,P-2.1.6,ROBO A TRANSEUNTE C.V.,2013-01-01,10:11,2013,1,19.468026,-99.184176
6,S-1.5.2,LESIONES POR ARMA DE FUEGO,2013-01-01,07:41,2013,1,NaN,NaN
7,S-2.4.5,ROBO A TRANSEUNTE C.V.,2013-01-01,14:27,2013,1,19.332704,-99.173765
8,S-2.3.9,ROBO A TRANSEUNTE C.V.,2013-01-01,22:09,2013,1,19.337507,-99.120261
9,S-2.5.4,ROBO A TRANSEUNTE C.V.,2013-01-01,00:52,2013,1,19.306710,-99.162357

### Lectura de archivo en formato JSON en cada línea

In [9]:
!head -1 'Fuentes_curso/tweets.json'

{"createdAt":"Jan 8, 2018 11:00:08 PM","id":950593006889029632,"text":"Hoy, en preguntas maricas: https://t.co/gBsDeAzcHo","source":"\u003ca href\u003d\"http://twitter.com/download/android\" rel\u003d\"nofollow\"\u003eTwitter for Android\u003c/a\u003e","isTruncated":false,"inReplyToStatusId":-1,"inReplyToUserId":-1,"isFavorited":false,"isRetweeted":false,"favoriteCount":0,"retweetCount":0,"isPossiblySensitive":false,"lang":"es","contributorsIDs":[],"userMentionEntities":[],"urlEntities":[{"url":"https://t.co/gBsDeAzcHo","expandedURL":"https://twitter.com/rafagol_linares/status/950564609597026305","displayURL":"twitter.com/rafagol_linare…","start":27,"end":50}],"hashtagEntities":[],"mediaEntities":[],"extendedMediaEntities":[],"symbolEntities":[],"currentUserRetweetId":-1,"user":{"id":2360387450,"name":"Gabriel","screenName":"Montoya_G99","location":"Medellín, Colombia","description":"AQUEL••27•DE•JULIO••\n\n#FRANCOINMORTAL","descriptionURLEntities":[],"isContributorsEnabled":false,"profileImageUrl":"http://pbs.twimg.com/profile_images/948707938339827713/sqYZl8kx_normal.jpg","profileImageUrlHttps":"https://pbs.twimg.com/profile_images/948707938339827713/sqYZl8kx_normal.jpg","isDefaultProfileImage":false,"isProtected":false,"followersCount":162,"profileBackgroundColor":"C0DEED","profileTextColor":"333333","profileLinkColor":"1DA1F2","profileSidebarFillColor":"DDEEF6","profileSidebarBorderColor":"C0DEED","profileUseBackgroundImage":true,"isDefaultProfile":true,"showAllInlineMedia":false,"friendsCount":188,"createdAt":"Feb 24, 2014 8:53:36 PM","favouritesCount":1812,"utcOffset":-1,"profileBackgroundImageUrl":"http://abs.twimg.com/images/themes/theme1/bg.png","profileBackgroundImageUrlHttps":"https://abs.twimg.com/images/themes/theme1/bg.png","profileBannerImageUrl":"https://pbs.twimg.com/profile_banners/2360387450/1503026584","profileBackgroundTiled":false,"lang":"es","statusesCount":1694,"isGeoEnabled":true,"isVerified":false,"translator":false,"listedCount":1,"isFollowRequestSent":false},"quotedStatus":{"createdAt":"Jan 8, 2018 9:07:18 PM","id":950564609597026305,"text":"\"Si es tan bueno el portero de Lanús entonces ¿Por qué River se llevó a Armani y no al portero de Lanús?\", #LucianoGonzález🤔\n\n#ElSúperDebate","source":"\u003ca href\u003d\"http://twitter.com\" rel\u003d\"nofollow\"\u003eTwitter Web Client\u003c/a\u003e","isTruncated":false,"inReplyToStatusId":-1,"inReplyToUserId":-1,"isFavorited":false,"isRetweeted":false,"favoriteCount":42,"retweetCount":6,"isPossiblySensitive":false,"lang":"es","contributorsIDs":[],"userMentionEntities":[],"urlEntities":[],"hashtagEntities":[{"text":"LucianoGonzález","start":107,"end":123},{"text":"ElSúperDebate","start":126,"end":140}],"mediaEntities":[],"extendedMediaEntities":[],"symbolEntities":[],"currentUserRetweetId":-1,"user":{"id":250861952,"name":"Rafagol Linares 📶","screenName":"rafagol_linares","location":"Medellín Colombia","description":"El Súper Debate se transmite por Emisora Claridad 1020 a.m. y Teleantioquia. Nuestro programa radial lo escuchas en https://goo.gl/G85AT4","descriptionURLEntities":[],"isContributorsEnabled":false,"profileImageUrl":"http://pbs.twimg.com/profile_images/936648494059794434/cpfvyIQu_normal.jpg","profileImageUrlHttps":"https://pbs.twimg.com/profile_images/936648494059794434/cpfvyIQu_normal.jpg","isDefaultProfileImage":false,"url":"http://www.rafagol.com","isProtected":false,"followersCount":23911,"profileBackgroundColor":"C0DEED","profileTextColor":"333333","profileLinkColor":"0084B4","profileSidebarFillColor":"DDEEF6","profileSidebarBorderColor":"FFFFFF","profileUseBackgroundImage":true,"isDefaultProfile":false,"showAllInlineMedia":false,"friendsCount":481,"createdAt":"Feb 11, 2011 5:37:03 PM","favouritesCount":502,"utcOffset":-18000,"timeZone":"Eastern Time (US \u0026 Canada)","profileBackgroundImageUrl":"http://pbs.twimg.com/profile_background_images/633835387/g4t15l8e7gep5uas3ukt.png","profileBackgroundImageUrlHttps":"https://pbs.twimg.com/profile_background_images/633835387/g4t15l8e7gep5uas3ukt.png","profileBannerImageUrl":"https://pbs.twimg.com/profile_banners/250861952/1500916198","profileBackgroundTiled":false,"lang":"es","statusesCount":22097,"isGeoEnabled":true,"isVerified":false,"translator":false,"listedCount":96,"isFollowRequestSent":false},"quotedStatusId":-1},"quotedStatusId":950564609597026305}

In [10]:
df3 = pd.read_json('Fuentes_curso/tweets.json', lines= True)
df3.head(3)

,contributorsIDs,createdAt,currentUserRetweetId,extendedMediaEntities,favoriteCount,geoLocation,hashtagEntities,id,inReplyToScreenName,inReplyToStatusId,...,quotedStatusId,retweetCount,retweetedStatus,source,symbolEntities,text,urlEntities,user,userMentionEntities,withheldInCountries
0,[],"Jan 8, 2018 11:00:08 PM",-1,[],0,NaN,[],950593006889029632,NaN,-1,...,950564609597026305,0,NaN,"<a href=""http://twitter.com/download/android"" ...",[],"Hoy, en preguntas maricas: https://t.co/gBsDeA...","[{'url': 'https://t.co/gBsDeAzcHo', 'expandedU...","{'id': 2360387450, 'name': 'Gabriel', 'screenN...",[],NaN
1,[],"Jan 8, 2018 11:00:08 PM",-1,[],0,NaN,[],950593006893260801,candesoria5,950592770040844288,...,-1,0,NaN,"<a href=""http://twitter.com/download/android"" ...",[],@candesoria5 JAJAJAJAJJAA FORRAAAA,[],"{'id': 3731878587, 'name': 'الناصرة', 'screenN...","[{'name': '✌ Cande Soria ✌', 'screenName': 'ca...",NaN
2,[],"Jan 8, 2018 11:00:09 PM",-1,[],0,NaN,[],950593011074740224,NaN,-1,...,-1,0,"{'createdAt': 'Jan 8, 2018 10:25:22 PM', 'id':...","<a href=""http://twitter.com/download/android"" ...",[],RT @grazerpoetry: ojalá noah tuviera tantos pr...,[],"{'id': 854020710364327936, 'name': 'JohannA', ...","[{'name': 'mar', 'screenName': 'grazerpoetry',...",NaN

In [11]:
type(df3)

pandas.core.frame.DataFrame

In [12]:
df3.columns

Index(['contributorsIDs', 'createdAt', 'currentUserRetweetId',
       'extendedMediaEntities', 'favoriteCount', 'geoLocation',
       'hashtagEntities', 'id', 'inReplyToScreenName', 'inReplyToStatusId',
       'inReplyToUserId', 'isFavorited', 'isPossiblySensitive', 'isRetweeted',
       'isTruncated', 'lang', 'mediaEntities', 'place', 'quotedStatus',
       'quotedStatusId', 'retweetCount', 'retweetedStatus', 'source',
       'symbolEntities', 'text', 'urlEntities', 'user', 'userMentionEntities',
       'withheldInCountries'],
      dtype='object')

In [13]:
df3.iloc[1]

contributorsIDs                                                         []
createdAt                                          Jan 8, 2018 11:00:08 PM
currentUserRetweetId                                                    -1
extendedMediaEntities                                                   []
favoriteCount                                                            0
geoLocation                                                            NaN
hashtagEntities                                                         []
id                                                      950593006893260801
inReplyToScreenName                                            candesoria5
inReplyToStatusId                                       950592770040844288
inReplyToUserId                                                 1694414323
isFavorited                                                          False
isPossiblySensitive                                                  False
isRetweeted                                                          False
isTruncated                                                          False
lang                                                                    es
mediaEntities                                                           []
place                                                                  NaN
quotedStatus                                                           NaN
quotedStatusId                                                          -1
retweetCount                                                             0
retweetedStatus                                                        NaN
source                   <a href="http://twitter.com/download/android" ...
symbolEntities                                                          []
text                                    @candesoria5 JAJAJAJAJJAA FORRAAAA
urlEntities                                                             []
user                     {'id': 3731878587, 'name': 'الناصرة', 'screenN...
userMentionEntities      [{'name': '✌ Cande Soria ✌', 'screenName': 'ca...
withheldInCountries                                                    NaN
Name: 1, dtype: object

### Lectura de archivo en formato Excel xls

In [14]:
df4 = pd.read_excel('Fuentes_curso/lineasmetro.xls')
df4.head(10)

   num  linea              nombre        lat        lon  afluencia
0    1      1        Observatorio  19.398237 -99.200363   25616672
1    2      1            Tacubaya  19.403439 -99.187102   11723325
2    3      1         Juanacatlan  19.412890 -99.182167    4317924
3    4      1         Chapultepec  19.420830 -99.176943   20092272
4    5      1             Sevilla  19.421916 -99.170580   10034938
5    6      1         Insurgentes  19.423292 -99.163177   17577861
6    7      1          Cuauhtemoc  19.425862 -99.154701    7256811
7    8      1            Balderas  19.427440 -99.149036    7753099
8    9      1      Salto del Agua  19.426813 -99.142213    7572089
9   10      1  Isabel la Catolica  19.426732 -99.137685    7997575

In [15]:
type(df4)

pandas.core.frame.DataFrame

In [16]:
df4.iloc[0]

num                     1
linea                   1
nombre       Observatorio
lat               19.3982
lon              -99.2004
afluencia        25616672
Name: 0, dtype: object

In [17]:
df4.columns

Index(['num', 'linea', 'nombre', 'lat', 'lon', 'afluencia'], dtype='object')

## Editar un DataFrame

### Agregar una columna

In [18]:
df4['concatenar']= df4['nombre']+df4['nombre']
df4.head(10)

,num,linea,nombre,lat,lon,afluencia,concatenar
0,1,1,Observatorio,19.398237,-99.200363,25616672,ObservatorioObservatorio
1,2,1,Tacubaya,19.403439,-99.187102,11723325,TacubayaTacubaya
2,3,1,Juanacatlan,19.412890,-99.182167,4317924,JuanacatlanJuanacatlan
3,4,1,Chapultepec,19.420830,-99.176943,20092272,ChapultepecChapultepec
4,5,1,Sevilla,19.421916,-99.170580,10034938,SevillaSevilla
5,6,1,Insurgentes,19.423292,-99.163177,17577861,InsurgentesInsurgentes
6,7,1,Cuauhtemoc,19.425862,-99.154701,7256811,CuauhtemocCuauhtemoc
7,8,1,Balderas,19.427440,-99.149036,7753099,BalderasBalderas
8,9,1,Salto del Agua,19.426813,-99.142213,7572089,Salto del AguaSalto del Agua
9,10,1,Isabel la Catolica,19.426732,-99.137685,7997575,Isabel la CatolicaIsabel la Catolica

In [19]:
indices = df4.index.values
indices

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174])

In [20]:
lista_tuplas = []
for i in indices:
    lista_tuplas.append((df4["lat"][i],df4["lon"][i]))

In [21]:
lista_tuplas[:10]

[(19.398237, -99.200363),
 (19.403439, -99.187102),
 (19.41289, -99.182167),
 (19.42083, -99.176943),
 (19.421916, -99.17058),
 (19.423292, -99.163177),
 (19.425862, -99.154701),
 (19.42744, -99.149036),
 (19.426813, -99.142213),
 (19.426732, -99.137685)]

In [22]:
df4['coordenadas']= lista_tuplas
df4.head(10)

,num,linea,nombre,lat,lon,afluencia,concatenar,coordenadas
0,1,1,Observatorio,19.398237,-99.200363,25616672,ObservatorioObservatorio,"(19.398237, -99.200363)"
1,2,1,Tacubaya,19.403439,-99.187102,11723325,TacubayaTacubaya,"(19.403439, -99.187102)"
2,3,1,Juanacatlan,19.412890,-99.182167,4317924,JuanacatlanJuanacatlan,"(19.41289, -99.182167)"
3,4,1,Chapultepec,19.420830,-99.176943,20092272,ChapultepecChapultepec,"(19.42083, -99.176943)"
4,5,1,Sevilla,19.421916,-99.170580,10034938,SevillaSevilla,"(19.421916, -99.17058)"
5,6,1,Insurgentes,19.423292,-99.163177,17577861,InsurgentesInsurgentes,"(19.423292, -99.163177)"
6,7,1,Cuauhtemoc,19.425862,-99.154701,7256811,CuauhtemocCuauhtemoc,"(19.425862, -99.154701)"
7,8,1,Balderas,19.427440,-99.149036,7753099,BalderasBalderas,"(19.42744, -99.149036)"
8,9,1,Salto del Agua,19.426813,-99.142213,7572089,Salto del AguaSalto del Agua,"(19.426813, -99.142213)"
9,10,1,Isabel la Catolica,19.426732,-99.137685,7997575,Isabel la CatolicaIsabel la Catolica,"(19.426732, -99.137685)"

### Reemplaza valores de una columna

In [23]:
df4['nombre'].replace({'Sevilla':'Sevilla_linea1','Chapultepec':'chapultepec_linea1'})
df4

,num,linea,nombre,lat,lon,afluencia,concatenar,coordenadas
0,1,1,Observatorio,19.398237,-99.200363,25616672,ObservatorioObservatorio,"(19.398237, -99.200363)"
1,2,1,Tacubaya,19.403439,-99.187102,11723325,TacubayaTacubaya,"(19.403439, -99.187102)"
2,3,1,Juanacatlan,19.412890,-99.182167,4317924,JuanacatlanJuanacatlan,"(19.41289, -99.182167)"
3,4,1,Chapultepec,19.420830,-99.176943,20092272,ChapultepecChapultepec,"(19.42083, -99.176943)"
4,5,1,Sevilla,19.421916,-99.170580,10034938,SevillaSevilla,"(19.421916, -99.17058)"
5,6,1,Insurgentes,19.423292,-99.163177,17577861,InsurgentesInsurgentes,"(19.423292, -99.163177)"
6,7,1,Cuauhtemoc,19.425862,-99.154701,7256811,CuauhtemocCuauhtemoc,"(19.425862, -99.154701)"
7,8,1,Balderas,19.427440,-99.149036,7753099,BalderasBalderas,"(19.42744, -99.149036)"
8,9,1,Salto del Agua,19.426813,-99.142213,7572089,Salto del AguaSalto del Agua,"(19.426813, -99.142213)"
9,10,1,Isabel la Catolica,19.426732,-99.137685,7997575,Isabel la CatolicaIsabel la Catolica,"(19.426732, -99.137685)"
10,11,1,Pino Suarez,19.425336,-99.132943,12439301,Pino SuarezPino Suarez,"(19.425336, -99.132943)"
11,12,1,Merced,19.425558,-99.124639,19979930,MercedMerced,"(19.425558, -99.124639)"
12,13,1,Candelaria,19.428837,-99.119511,8019525,CandelariaCandelaria,"(19.428837, -99.119511)"
13,14,1,San Lazaro,19.430213,-99.114833,9867882,San LazaroSan Lazaro,"(19.430213, -99.114833)"
14,15,1,Moctezuma,19.427218,-99.110305,9085256,MoctezumaMoctezuma,"(19.427218, -99.110305)"
15,16,1,Balbuena,19.423231,-99.102302,5331378,BalbuenaBalbuena,"(19.423231, -99.102302)"
16,17,1,Blvd Puerto Aereo,19.419670,-99.095950,10614000,Blvd Puerto AereoBlvd Puerto Aereo,"(19.41967, -99.09595)"
17,18,1,Gomez Farias,19.416472,-99.090350,12344521,Gomez FariasGomez Farias,"(19.416472, -99.09035)"
18,19,1,Zaragoza,19.412344,-99.082410,19435293,ZaragozaZaragoza,"(19.412344, -99.08241)"
19,20,1,Pantitlan,19.415359,-99.072132,18057772,PantitlanPantitlan,"(19.415359, -99.072132)"
20,21,2,Cuatro Caminos,19.459592,-99.215899,43502529,Cuatro CaminosCuatro Caminos,"(19.459592, -99.215899)"
21,22,2,Panteones,19.458763,-99.203153,3473490,PanteonesPanteones,"(19.458763, -99.203153)"
22,23,2,Tacuba,19.459349,-99.189205,13303010,TacubaTacuba,"(19.459349, -99.189205)"
23,24,2,Cuitlahuac,19.457448,-99.182038,7429771,CuitlahuacCuitlahuac,"(19.457448, -99.182038)"
24,25,2,Popotla,19.452147,-99.174700,2594473,PopotlaPopotla,"(19.452147, -99.1747)"
25,26,2,Colegio Militar,19.449354,-99.172254,6040218,Colegio MilitarColegio Militar,"(19.449354, -99.172254)"
26,27,2,Normal,19.444400,-99.167400,13559980,NormalNormal,"(19.4444, -99.1674)"
27,28,2,San Cosme,19.441706,-99.161096,7970119,San CosmeSan Cosme,"(19.441706, -99.161096)"
28,29,2,Revolucion,19.441706,-99.161096,12067575,RevolucionRevolucion,"(19.441706, -99.161096)"
29,30,2,Hidalgo,19.437295,-99.147105,12419244,HidalgoHidalgo,"(19.437295, -99.147105)"
...,...,...,...,...,...,...,...,...
145,146,10,Agricola Oriental,19.404835,-99.069901,3479594,Agricola OrientalAgricola Oriental,"(19.404835, -99.069901)"
146,147,10,Canal de San Juan,19.398683,-99.059365,4698376,Canal de San JuanCanal de San Juan,"(19.398683, -99.059365)"
147,148,10,Tepalcates,19.391335,-99.046383,5299787,TepalcatesTepalcates,"(19.391335, -99.046383)"
148,149,10,Guelatao,19.385162,-99.035740,5912457,GuelataoGuelatao,"(19.385162, -99.03574)"
149,150,10,Penon Viejo,19.373320,-99.017093,5138056,Penon ViejoPenon Viejo,"(19.37332, -99.017093)"
150,151,10,Acatitla,19.364737,-99.005892,5630517,AcatitlaAcatitla,"(19.364737, -99.005892)"
151,152,10,Santa Marta,19.360000,-98.994863,8067199,Santa MartaSanta Marta,"(19.36, -98.994863)"
152,153,10,Los Reyes,19.358968,-98.976903,7200118,Los ReyesLos Reyes,"(19.358968, -98.976903)"
153,154,10,La Paz,19.350526,-98.960745,11913128,La PazLa Paz,"(19.350526, -98.960745)"
154,155,11,Buenavista,19.446603,-99.153199,18611327,BuenavistaBuenavista,"(19.446603, -99.153199)"
155,156,11,Guerrero,19.445146,-99.145389,1797477,GuerreroGuerrero,"(19.445146, -99.145389)"
156,157,11,Garibaldi,19.444458,-99.139734,3088681,GaribaldiGaribaldi,"(19.444458, -99.139734)"
157,158,11,Lagunilla,19.443386,-99.131334,10015204,LagunillaLagunilla,"(19.443386, -99.131334)"
158,159,11,Tepito,19.442495,-99.123330,8984917,TepitoTepito,"(19.442495, -99.12333)"
159,160,11,Morelos,19.438974,-99.118266,1704600,MorelosMorelos,"(19.438974, -99.118266)"
160,161,11,San Lazaro,19.430213,-99.114833,5508338,San LazaroSan Lazaro,"(19.430213, -99.114833)"
161,162,11,Rcardo Flores Magon,19.436567,-99.103675,2074195,Rcardo Flores MagonRcardo Flores Magon,"(19.436567, -99.103675)"
162,163,11,Romero Rubio,19.436567,-99.103675,3297279,Romero RubioRomero Rubio,"(19.436567, -99.103675)"
163,164,11,Oceania,19.445672,-99.087238,3579033,OceaniaOceania,"(19.445672, -99.087238)"
164,165,11,Deportivo Oceania,19.451034,-99.079170,6207716,Deportivo OceaniaDeportivo Oceania,"(19.451034, -99.07917)"
165,166,11,Bosque de Aragon,19.458115,-99.069192,2306186,Bosque de AragonBosque de Aragon,"(19.458115, -99.069192)"
166,167,11,Villa de Aragon,19.461656,-99.061704,4842546,Villa de AragonVilla de Aragon,"(19.461656, -99.061704)"
167,168,11,Nezahualcoyotl,19.473066,-99.054537,8487304,NezahualcoyotlNezahualcoyotl,"(19.473066, -99.054537)"
168,169,11,Impulsora,19.485851,-99.048915,9396257,ImpulsoraImpulsora,"(19.485851, -99.048915)"
169,170,11,Rio de los Remedios,19.490908,-99.046597,7972668,Rio de los RemediosRio de los Remedios,"(19.490908, -99.046597)"
170,171,11,Muzquiz,19.501629,-99.042048,12160444,MuzquizMuzquiz,"(19.501629, -99.042048)"
171,172,11,Tecnologico,19.515301,-99.035997,10237086,TecnologicoTecnologico,"(19.515301, -99.035997)"
172,173,11,Olimpica,19.521328,-99.033422,7088450,OlimpicaOlimpica,"(19.521328, -99.033422)"
173,174,11,Plaza Aragon,19.528447,-99.030118,8774893,Plaza AragonPlaza Aragon,"(19.528447, -99.030118)"
174,175,11,Ciudad Azteca,19.534595,-99.027500,20748198,Ciudad AztecaCiudad Azteca,"(19.534595, -99.0275)"

In [24]:
df4['nombre'].replace({'Sevilla':'Sevilla_linea1','Chapultepec':'chapultepec_linea1'}, inplace=True)
df4.head(10)

,num,linea,nombre,lat,lon,afluencia,concatenar,coordenadas
0,1,1,Observatorio,19.398237,-99.200363,25616672,ObservatorioObservatorio,"(19.398237, -99.200363)"
1,2,1,Tacubaya,19.403439,-99.187102,11723325,TacubayaTacubaya,"(19.403439, -99.187102)"
2,3,1,Juanacatlan,19.412890,-99.182167,4317924,JuanacatlanJuanacatlan,"(19.41289, -99.182167)"
3,4,1,chapultepec_linea1,19.420830,-99.176943,20092272,ChapultepecChapultepec,"(19.42083, -99.176943)"
4,5,1,Sevilla_linea1,19.421916,-99.170580,10034938,SevillaSevilla,"(19.421916, -99.17058)"
5,6,1,Insurgentes,19.423292,-99.163177,17577861,InsurgentesInsurgentes,"(19.423292, -99.163177)"
6,7,1,Cuauhtemoc,19.425862,-99.154701,7256811,CuauhtemocCuauhtemoc,"(19.425862, -99.154701)"
7,8,1,Balderas,19.427440,-99.149036,7753099,BalderasBalderas,"(19.42744, -99.149036)"
8,9,1,Salto del Agua,19.426813,-99.142213,7572089,Salto del AguaSalto del Agua,"(19.426813, -99.142213)"
9,10,1,Isabel la Catolica,19.426732,-99.137685,7997575,Isabel la CatolicaIsabel la Catolica,"(19.426732, -99.137685)"

### Cambiar nombre de una columna

In [25]:
df4.columns

Index(['num', 'linea', 'nombre', 'lat', 'lon', 'afluencia', 'concatenar',
       'coordenadas'],
      dtype='object')

In [26]:
df4.rename(columns={'nombre':'Estación','linea':'Línea','num':'Número de estación', 'coordenadas':'Datos geoespaciales'}, inplace = True)
df4.head(10)

,Número de estación,Línea,Estación,lat,lon,afluencia,concatenar,Datos geoespaciales
0,1,1,Observatorio,19.398237,-99.200363,25616672,ObservatorioObservatorio,"(19.398237, -99.200363)"
1,2,1,Tacubaya,19.403439,-99.187102,11723325,TacubayaTacubaya,"(19.403439, -99.187102)"
2,3,1,Juanacatlan,19.412890,-99.182167,4317924,JuanacatlanJuanacatlan,"(19.41289, -99.182167)"
3,4,1,chapultepec_linea1,19.420830,-99.176943,20092272,ChapultepecChapultepec,"(19.42083, -99.176943)"
4,5,1,Sevilla_linea1,19.421916,-99.170580,10034938,SevillaSevilla,"(19.421916, -99.17058)"
5,6,1,Insurgentes,19.423292,-99.163177,17577861,InsurgentesInsurgentes,"(19.423292, -99.163177)"
6,7,1,Cuauhtemoc,19.425862,-99.154701,7256811,CuauhtemocCuauhtemoc,"(19.425862, -99.154701)"
7,8,1,Balderas,19.427440,-99.149036,7753099,BalderasBalderas,"(19.42744, -99.149036)"
8,9,1,Salto del Agua,19.426813,-99.142213,7572089,Salto del AguaSalto del Agua,"(19.426813, -99.142213)"
9,10,1,Isabel la Catolica,19.426732,-99.137685,7997575,Isabel la CatolicaIsabel la Catolica,"(19.426732, -99.137685)"

### Borrar columnas o filas

In [27]:
df4.drop('lat', axis = 1, inplace = True)
df4.head(10)

,Número de estación,Línea,Estación,lon,afluencia,concatenar,Datos geoespaciales
0,1,1,Observatorio,-99.200363,25616672,ObservatorioObservatorio,"(19.398237, -99.200363)"
1,2,1,Tacubaya,-99.187102,11723325,TacubayaTacubaya,"(19.403439, -99.187102)"
2,3,1,Juanacatlan,-99.182167,4317924,JuanacatlanJuanacatlan,"(19.41289, -99.182167)"
3,4,1,chapultepec_linea1,-99.176943,20092272,ChapultepecChapultepec,"(19.42083, -99.176943)"
4,5,1,Sevilla_linea1,-99.170580,10034938,SevillaSevilla,"(19.421916, -99.17058)"
5,6,1,Insurgentes,-99.163177,17577861,InsurgentesInsurgentes,"(19.423292, -99.163177)"
6,7,1,Cuauhtemoc,-99.154701,7256811,CuauhtemocCuauhtemoc,"(19.425862, -99.154701)"
7,8,1,Balderas,-99.149036,7753099,BalderasBalderas,"(19.42744, -99.149036)"
8,9,1,Salto del Agua,-99.142213,7572089,Salto del AguaSalto del Agua,"(19.426813, -99.142213)"
9,10,1,Isabel la Catolica,-99.137685,7997575,Isabel la CatolicaIsabel la Catolica,"(19.426732, -99.137685)"

In [28]:
df4.drop([2,3], axis = 0, inplace = True)
df4.head(10)

,Número de estación,Línea,Estación,lon,afluencia,concatenar,Datos geoespaciales
0,1,1,Observatorio,-99.200363,25616672,ObservatorioObservatorio,"(19.398237, -99.200363)"
1,2,1,Tacubaya,-99.187102,11723325,TacubayaTacubaya,"(19.403439, -99.187102)"
4,5,1,Sevilla_linea1,-99.170580,10034938,SevillaSevilla,"(19.421916, -99.17058)"
5,6,1,Insurgentes,-99.163177,17577861,InsurgentesInsurgentes,"(19.423292, -99.163177)"
6,7,1,Cuauhtemoc,-99.154701,7256811,CuauhtemocCuauhtemoc,"(19.425862, -99.154701)"
7,8,1,Balderas,-99.149036,7753099,BalderasBalderas,"(19.42744, -99.149036)"
8,9,1,Salto del Agua,-99.142213,7572089,Salto del AguaSalto del Agua,"(19.426813, -99.142213)"
9,10,1,Isabel la Catolica,-99.137685,7997575,Isabel la CatolicaIsabel la Catolica,"(19.426732, -99.137685)"
10,11,1,Pino Suarez,-99.132943,12439301,Pino SuarezPino Suarez,"(19.425336, -99.132943)"
11,12,1,Merced,-99.124639,19979930,MercedMerced,"(19.425558, -99.124639)"

In [29]:
del df4['lon']
df4.head(10)

,Número de estación,Línea,Estación,afluencia,concatenar,Datos geoespaciales
0,1,1,Observatorio,25616672,ObservatorioObservatorio,"(19.398237, -99.200363)"
1,2,1,Tacubaya,11723325,TacubayaTacubaya,"(19.403439, -99.187102)"
4,5,1,Sevilla_linea1,10034938,SevillaSevilla,"(19.421916, -99.17058)"
5,6,1,Insurgentes,17577861,InsurgentesInsurgentes,"(19.423292, -99.163177)"
6,7,1,Cuauhtemoc,7256811,CuauhtemocCuauhtemoc,"(19.425862, -99.154701)"
7,8,1,Balderas,7753099,BalderasBalderas,"(19.42744, -99.149036)"
8,9,1,Salto del Agua,7572089,Salto del AguaSalto del Agua,"(19.426813, -99.142213)"
9,10,1,Isabel la Catolica,7997575,Isabel la CatolicaIsabel la Catolica,"(19.426732, -99.137685)"
10,11,1,Pino Suarez,12439301,Pino SuarezPino Suarez,"(19.425336, -99.132943)"
11,12,1,Merced,19979930,MercedMerced,"(19.425558, -99.124639)"

### Filtrar datos

### Mostrar primeras filas de un DataFrame

In [30]:
print(df4.head(6))

   Número de estación  Línea        Estación  afluencia  \
0                   1      1    Observatorio   25616672
1                   2      1        Tacubaya   11723325
4                   5      1  Sevilla_linea1   10034938
5                   6      1     Insurgentes   17577861
6                   7      1      Cuauhtemoc    7256811
7                   8      1        Balderas    7753099

                 concatenar      Datos geoespaciales
0  ObservatorioObservatorio  (19.398237, -99.200363)
1          TacubayaTacubaya  (19.403439, -99.187102)
4            SevillaSevilla   (19.421916, -99.17058)
5    InsurgentesInsurgentes  (19.423292, -99.163177)
6      CuauhtemocCuauhtemoc  (19.425862, -99.154701)
7          BalderasBalderas   (19.42744, -99.149036)

In [31]:
df4.iloc[0:10, 0:4]

    Número de estación  Línea            Estación  afluencia
0                    1      1        Observatorio   25616672
1                    2      1            Tacubaya   11723325
4                    5      1      Sevilla_linea1   10034938
5                    6      1         Insurgentes   17577861
6                    7      1          Cuauhtemoc    7256811
7                    8      1            Balderas    7753099
8                    9      1      Salto del Agua    7572089
9                   10      1  Isabel la Catolica    7997575
10                  11      1         Pino Suarez   12439301
11                  12      1              Merced   19979930

### Filtrar algunas columnas

In [32]:
df4[['Estación', 'afluencia']]

                Estación  afluencia
0           Observatorio   25616672
1               Tacubaya   11723325
4         Sevilla_linea1   10034938
5            Insurgentes   17577861
6             Cuauhtemoc    7256811
7               Balderas    7753099
8         Salto del Agua    7572089
9     Isabel la Catolica    7997575
10           Pino Suarez   12439301
11                Merced   19979930
12            Candelaria    8019525
13            San Lazaro    9867882
14             Moctezuma    9085256
15              Balbuena    5331378
16     Blvd Puerto Aereo   10614000
17          Gomez Farias   12344521
18              Zaragoza   19435293
19             Pantitlan   18057772
20        Cuatro Caminos   43502529
21             Panteones    3473490
22                Tacuba   13303010
23            Cuitlahuac    7429771
24               Popotla    2594473
25       Colegio Militar    6040218
26                Normal   13559980
27             San Cosme    7970119
28            Revolucion   12067575
29               Hidalgo   12419244
30          Bellas Artes   11387261
31               Allende   13183089
..                   ...        ...
145    Agricola Oriental    3479594
146    Canal de San Juan    4698376
147           Tepalcates    5299787
148             Guelatao    5912457
149          Penon Viejo    5138056
150             Acatitla    5630517
151          Santa Marta    8067199
152            Los Reyes    7200118
153               La Paz   11913128
154           Buenavista   18611327
155             Guerrero    1797477
156            Garibaldi    3088681
157            Lagunilla   10015204
158               Tepito    8984917
159              Morelos    1704600
160           San Lazaro    5508338
161  Rcardo Flores Magon    2074195
162         Romero Rubio    3297279
163              Oceania    3579033
164    Deportivo Oceania    6207716
165     Bosque de Aragon    2306186
166      Villa de Aragon    4842546
167       Nezahualcoyotl    8487304
168            Impulsora    9396257
169  Rio de los Remedios    7972668
170              Muzquiz   12160444
171          Tecnologico   10237086
172             Olimpica    7088450
173         Plaza Aragon    8774893
174        Ciudad Azteca   20748198

[173 rows x 2 columns]

### Filtrar por multiples condiciones

In [33]:
df4[(df4['afluencia']<10000000) & (df4['Línea'] == 2)]

,Número de estación,Línea,Estación,afluencia,concatenar,Datos geoespaciales
21,22,2,Panteones,3473490,PanteonesPanteones,"(19.458763, -99.203153)"
23,24,2,Cuitlahuac,7429771,CuitlahuacCuitlahuac,"(19.457448, -99.182038)"
24,25,2,Popotla,2594473,PopotlaPopotla,"(19.452147, -99.1747)"
25,26,2,Colegio Militar,6040218,Colegio MilitarColegio Militar,"(19.449354, -99.172254)"
27,28,2,San Cosme,7970119,San CosmeSan Cosme,"(19.441706, -99.161096)"
33,34,2,Pino Suarez,9208012,Pino SuarezPino Suarez,"(19.425336, -99.132943)"
34,35,2,San Antonio Abad,8623188,San Antonio AbadSan Antonio Abad,"(19.418597, -99.134145)"
35,36,2,Chabacano,8251565,ChabacanoChabacano,"(19.406438, -99.135754)"
36,37,2,Viaducto,8204925,ViaductoViaducto,"(19.400808, -99.136891)"
37,38,2,Xola,6289562,XolaXola,"(19.3952, -99.1377)"
38,39,2,Villa de Cortes,7103912,Villa de CortesVilla de Cortes,"(19.38753, -99.138994)"
39,40,2,Nativitas,7581387,NativitasNativitas,"(19.379474, -99.140217)"
40,41,2,Portales,7521986,PortalesPortales,"(19.3698, -99.1416)"
41,42,2,Ermita,7017172,ErmitaErmita,"(19.361883, -99.142942)"

In [34]:
df5 = df4[(df4['afluencia'] > df4['afluencia'].mean())]
df5

,Número de estación,Línea,Estación,afluencia,concatenar,Datos geoespaciales
0,1,1,Observatorio,25616672,ObservatorioObservatorio,"(19.398237, -99.200363)"
1,2,1,Tacubaya,11723325,TacubayaTacubaya,"(19.403439, -99.187102)"
4,5,1,Sevilla_linea1,10034938,SevillaSevilla,"(19.421916, -99.17058)"
5,6,1,Insurgentes,17577861,InsurgentesInsurgentes,"(19.423292, -99.163177)"
10,11,1,Pino Suarez,12439301,Pino SuarezPino Suarez,"(19.425336, -99.132943)"
11,12,1,Merced,19979930,MercedMerced,"(19.425558, -99.124639)"
13,14,1,San Lazaro,9867882,San LazaroSan Lazaro,"(19.430213, -99.114833)"
14,15,1,Moctezuma,9085256,MoctezumaMoctezuma,"(19.427218, -99.110305)"
16,17,1,Blvd Puerto Aereo,10614000,Blvd Puerto AereoBlvd Puerto Aereo,"(19.41967, -99.09595)"
17,18,1,Gomez Farias,12344521,Gomez FariasGomez Farias,"(19.416472, -99.09035)"
18,19,1,Zaragoza,19435293,ZaragozaZaragoza,"(19.412344, -99.08241)"
19,20,1,Pantitlan,18057772,PantitlanPantitlan,"(19.415359, -99.072132)"
20,21,2,Cuatro Caminos,43502529,Cuatro CaminosCuatro Caminos,"(19.459592, -99.215899)"
22,23,2,Tacuba,13303010,TacubaTacuba,"(19.459349, -99.189205)"
26,27,2,Normal,13559980,NormalNormal,"(19.4444, -99.1674)"
28,29,2,Revolucion,12067575,RevolucionRevolucion,"(19.441706, -99.161096)"
29,30,2,Hidalgo,12419244,HidalgoHidalgo,"(19.437295, -99.147105)"
30,31,2,Bellas Artes,11387261,Bellas ArtesBellas Artes,"(19.436243, -99.141945)"
31,32,2,Allende,13183089,AllendeAllende,"(19.435514, -99.137406)"
32,33,2,Zocalo,26758754,ZocaloZocalo,"(19.433248, -99.1329)"
33,34,2,Pino Suarez,9208012,Pino SuarezPino Suarez,"(19.425336, -99.132943)"
34,35,2,San Antonio Abad,8623188,San Antonio AbadSan Antonio Abad,"(19.418597, -99.134145)"
42,43,2,General Anaya,10052998,General AnayaGeneral Anaya,"(19.353259, -99.145002)"
43,44,2,Tasquena,33465887,TasquenaTasquena,"(19.344168, -99.142685)"
44,45,3,Indios Verdes,42270846,Indios VerdesIndios Verdes,"(19.495358, -99.119468)"
45,46,3,Deportivo 18 de Marzo,14960626,Deportivo 18 de MarzoDeportivo 18 de Marzo,"(19.483747, -99.126549)"
47,48,3,La Raza,11718866,La RazaLa Raza,"(19.470153, -99.136891)"
54,55,3,Hospital General,8662534,Hospital GeneralHospital General,"(19.413578, -99.153886)"
56,57,3,Etiopia,10600770,EtiopiaEtiopia,"(19.395586, -99.156268)"
59,60,3,Zapata,13319939,ZapataZapata,"(19.370952, -99.164937)"
...,...,...,...,...,...,...
62,63,3,Miguel A de Quevedo,9812800,Miguel A de QuevedoMiguel A de Quevedo,"(19.346395, -99.18103)"
63,64,3,Copilco,14176131,CopilcoCopilco,"(19.335887, -99.176652)"
64,65,3,Universidad,24351138,UniversidadUniversidad,"(19.324427, -99.17397)"
75,76,5,Politecnico,12473208,PolitecnicoPolitecnico,"(19.50082, -99.149294)"
77,78,5,Autobuses del Norte,8754403,Autobuses del NorteAutobuses del Norte,"(19.478973, -99.140668)"
87,88,5,Pantitlan,30778801,PantitlanPantitlan,"(19.415359, -99.072132)"
88,89,6,El Rosario,11539561,El RosarioEl Rosario,"(19.504541, -99.20002)"
98,99,6,Martin Carrera,9419808,Martin CarreraMartin Carrera,"(19.484921, -99.104404)"
105,106,7,Polanco,10493249,PolancoPolanco,"(19.433511, -99.191029)"
106,107,7,Auditorio,10080032,AuditorioAuditorio,"(19.425498, -99.191995)"
112,113,7,Barranca del Muerto,12344546,Barranca del MuertoBarranca del Muerto,"(19.360648, -99.190149)"
115,116,8,San Juan de Letran,10232602,San Juan de LetranSan Juan de Letran,"(19.431305, -99.141569)"
126,127,8,Escuadron 201,8749239,Escuadron 201Escuadron 201,"(19.36492, -99.109554)"
130,131,8,U A M I,8692351,U A M IU A M I,"(19.351234, -99.074707)"
131,132,8,Const de 1917,35882912,Const de 1917Const de 1917,"(19.34593, -99.063892)"
132,133,9,Tacubaya,17163999,TacubayaTacubaya,"(19.403439, -99.187102)"
134,135,9,Chilpancingo,13369922,ChilpancingoChilpancingo,"(19.406131, -99.168477)"
142,143,9,Puebla,10692646,PueblaPuebla,"(19.407142, -99.082432)"
143,144,9,Pantitlan,33803441,PantitlanPantitlan,"(19.415359, -99.072132)"
144,145,10,Pantitlan,32151992,PantitlanPantitlan,"(19.415359, -99.072132)"
153,154,10,La Paz,11913128,La PazLa Paz,"(19.350526, -98.960745)"
154,155,11,Buenavista,18611327,BuenavistaBuenavista,"(19.446603, -99.153199)"
157,158,11,Lagunilla,10015204,LagunillaLagunilla,"(19.443386, -99.131334)"
158,159,11,Tepito,8984917,TepitoTepito,"(19.442495, -99.12333)"
167,168,11,Nezahualcoyotl,8487304,NezahualcoyotlNezahualcoyotl,"(19.473066, -99.054537)"
168,169,11,Impulsora,9396257,ImpulsoraImpulsora,"(19.485851, -99.048915)"
170,171,11,Muzquiz,12160444,MuzquizMuzquiz,"(19.501629, -99.042048)"
171,172,11,Tecnologico,10237086,TecnologicoTecnologico,"(19.515301, -99.035997)"
173,174,11,Plaza Aragon,8774893,Plaza AragonPlaza Aragon,"(19.528447, -99.030118)"
174,175,11,Ciudad Azteca,20748198,Ciudad AztecaCiudad Azteca,"(19.534595, -99.0275)"

In [35]:
del df5['concatenar']

In [36]:
df5

,Número de estación,Línea,Estación,afluencia,Datos geoespaciales
0,1,1,Observatorio,25616672,"(19.398237, -99.200363)"
1,2,1,Tacubaya,11723325,"(19.403439, -99.187102)"
4,5,1,Sevilla_linea1,10034938,"(19.421916, -99.17058)"
5,6,1,Insurgentes,17577861,"(19.423292, -99.163177)"
10,11,1,Pino Suarez,12439301,"(19.425336, -99.132943)"
11,12,1,Merced,19979930,"(19.425558, -99.124639)"
13,14,1,San Lazaro,9867882,"(19.430213, -99.114833)"
14,15,1,Moctezuma,9085256,"(19.427218, -99.110305)"
16,17,1,Blvd Puerto Aereo,10614000,"(19.41967, -99.09595)"
17,18,1,Gomez Farias,12344521,"(19.416472, -99.09035)"
18,19,1,Zaragoza,19435293,"(19.412344, -99.08241)"
19,20,1,Pantitlan,18057772,"(19.415359, -99.072132)"
20,21,2,Cuatro Caminos,43502529,"(19.459592, -99.215899)"
22,23,2,Tacuba,13303010,"(19.459349, -99.189205)"
26,27,2,Normal,13559980,"(19.4444, -99.1674)"
28,29,2,Revolucion,12067575,"(19.441706, -99.161096)"
29,30,2,Hidalgo,12419244,"(19.437295, -99.147105)"
30,31,2,Bellas Artes,11387261,"(19.436243, -99.141945)"
31,32,2,Allende,13183089,"(19.435514, -99.137406)"
32,33,2,Zocalo,26758754,"(19.433248, -99.1329)"
33,34,2,Pino Suarez,9208012,"(19.425336, -99.132943)"
34,35,2,San Antonio Abad,8623188,"(19.418597, -99.134145)"
42,43,2,General Anaya,10052998,"(19.353259, -99.145002)"
43,44,2,Tasquena,33465887,"(19.344168, -99.142685)"
44,45,3,Indios Verdes,42270846,"(19.495358, -99.119468)"
45,46,3,Deportivo 18 de Marzo,14960626,"(19.483747, -99.126549)"
47,48,3,La Raza,11718866,"(19.470153, -99.136891)"
54,55,3,Hospital General,8662534,"(19.413578, -99.153886)"
56,57,3,Etiopia,10600770,"(19.395586, -99.156268)"
59,60,3,Zapata,13319939,"(19.370952, -99.164937)"
...,...,...,...,...,...
62,63,3,Miguel A de Quevedo,9812800,"(19.346395, -99.18103)"
63,64,3,Copilco,14176131,"(19.335887, -99.176652)"
64,65,3,Universidad,24351138,"(19.324427, -99.17397)"
75,76,5,Politecnico,12473208,"(19.50082, -99.149294)"
77,78,5,Autobuses del Norte,8754403,"(19.478973, -99.140668)"
87,88,5,Pantitlan,30778801,"(19.415359, -99.072132)"
88,89,6,El Rosario,11539561,"(19.504541, -99.20002)"
98,99,6,Martin Carrera,9419808,"(19.484921, -99.104404)"
105,106,7,Polanco,10493249,"(19.433511, -99.191029)"
106,107,7,Auditorio,10080032,"(19.425498, -99.191995)"
112,113,7,Barranca del Muerto,12344546,"(19.360648, -99.190149)"
115,116,8,San Juan de Letran,10232602,"(19.431305, -99.141569)"
126,127,8,Escuadron 201,8749239,"(19.36492, -99.109554)"
130,131,8,U A M I,8692351,"(19.351234, -99.074707)"
131,132,8,Const de 1917,35882912,"(19.34593, -99.063892)"
132,133,9,Tacubaya,17163999,"(19.403439, -99.187102)"
134,135,9,Chilpancingo,13369922,"(19.406131, -99.168477)"
142,143,9,Puebla,10692646,"(19.407142, -99.082432)"
143,144,9,Pantitlan,33803441,"(19.415359, -99.072132)"
144,145,10,Pantitlan,32151992,"(19.415359, -99.072132)"
153,154,10,La Paz,11913128,"(19.350526, -98.960745)"
154,155,11,Buenavista,18611327,"(19.446603, -99.153199)"
157,158,11,Lagunilla,10015204,"(19.443386, -99.131334)"
158,159,11,Tepito,8984917,"(19.442495, -99.12333)"
167,168,11,Nezahualcoyotl,8487304,"(19.473066, -99.054537)"
168,169,11,Impulsora,9396257,"(19.485851, -99.048915)"
170,171,11,Muzquiz,12160444,"(19.501629, -99.042048)"
171,172,11,Tecnologico,10237086,"(19.515301, -99.035997)"
173,174,11,Plaza Aragon,8774893,"(19.528447, -99.030118)"
174,175,11,Ciudad Azteca,20748198,"(19.534595, -99.0275)"